doctype html
html(lang="en")
    head
        include /common/head.pug
        script(src='https://cdn.onesignal.com/sdks/OneSignalSDK.js')
        script.
            //OneSignal setup
            var OneSignal = window.OneSignal || [];
            OneSignal.push(function() {
                OneSignal.init({
                    appId: "#{onesignalAppId}",
                });
            });
            
            function init(){
                //OnseSignal load sent notifications
                function getNotifications(){
                    fetch('/TestNotification/getNotifications/', {method: 'GET'})
                        .then(function(response) {
                            if(response.ok) {
                                return response.json();
                            }
                            else { throw new Error('Request failed.'); }
                        })
                        .then(function(responseData) {
                            let parsedData = responseData.data;
                            let divNotificationsList = document.getElementById('NotificationsList');
                            divNotificationsList.innerHTML = "";
                            parsedData.forEach(function(element){
                                let li = document.createElement('li');
                                li.className = "slds-item";
                                let p = document.createElement('p');
                                p.className = "doc";
                                let text = document.createTextNode(JSON.stringify(element));
                                p.appendChild(text);
                                li.appendChild(p);
                                divNotificationsList.appendChild(li, null);
                            });
                        })
                        .catch(function(error) {
                            console.log(error);
                        });
                }
                setInterval(function() {
                    getNotifications();
                }, 1000);
                //OnseSignal send notification
                let sendBtn = document.getElementById('sendNotification');
                sendBtn.addEventListener('click', function(e) {
                    console.log('button was clicked');

                    fetch('/TestNotification/sendNotification/', {method: 'POST'})
                        .then(function(response) {
                            if(response.ok) {
                                console.log('Notification sent');
                                //getNotifications();
                            }
                            else { throw new Error('Request failed.'); }
                        })
                        .catch(function(error) {
                            console.log(error);
                        });
                });
            }
    body(onload="init()")
        article.slds-card
                div(class="slds-card__header slds-grid")
                    header(class="slds-media slds-media_center slds-has-flexi-truncate")
                        h1.slds-card__header-title
                            p.slds-text-heading_medium #{title}
                div(class="slds-card__body slds-card__body_inner slds-clearfix")
                    p.slds-clearfix
                        button(type='button', id="sendNotification", class="slds-button slds-button_outline-brand") Send Notification
                    br
                    div(class="slds-grid slds-wrap")
                        blockquote(class="doc site-blockquote_warning slds-clearfix")
                            p(class="doc lead") Notifications Log from Onesignal (max. 30)
                            div(class="NotificationLogContainer doc")
                                ul(id="NotificationsList", class="slds-has-dividers_around-space")
                                