title Custom Activity Challenge
meta(charset="utf-8")
meta(http-equiv="x-ua-compatible", content="ie=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
link(href="/manifest.json", rel="manifest")
link(href="/images/apple-touch-icon.png", rel="apple-touch-icon", sizes="180x180")
link(href="/images/favicon-32x32.png", rel="icon", type="image/png", sizes="32x32")
link(href="/images/favicon-16x16.png", rel="icon", type="image/png", sizes="16x16")
link(href="/assets/styles/salesforce-lightning-design-system.min.css", rel="stylesheet", type="text/css")